<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @ticker.name %>
</p>

<p>
  <b>Security type:</b>
  <%= @ticker.security_type %>
</p>


<%= link_to 'Edit', edit_ticker_path(@ticker) %> |
<%= link_to 'Back', tickers_path %>
