<%= form_for([@ticker, @ticker.technicals.build]) do |f| %>
  <div class="field">
    <%= f.label :indicator_type %><br />
    <%= f.text_field :indicator_type %>
  </div>
  <div class="field">
    <%= f.label :date %><br />
    <%= f.text_field :date %>
  </div>
  <div class="field">
    <%= f.label :value %><br />
    <%= f.text_field :value %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
